.navbar {
background-color: white;
    text-align: center;
}
.navbar a:hover {
background-color: #659DBD;

}
.navbar a{
background-color: white;
border-radius: 100px;
}
.hover {
   transition: transform 0.5s ease;
}
.hover:hover {
   transform: scale(1.1);
}